.clima {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
}

.locais-e-detalhes {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.detalhes-do-local {
    width: 800px;
    height: 280px;
}

.dados-local {
    position: absolute;
    display: flex;
    width: 800px;
    height: 280px;
    bottom: 180px;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    margin-top: 100px;
}

.icon-e-temperadura p{
    font-size: 50px;
    font-weight: 600;
}

.icon-e-temperadura {
    display: flex;
    align-items: center;
}

.dados-local .emoji-clima {
    width: 100px;
}

.locais-e-detalhes img {
    width: 600px;
}

.horarios-e-dias {
    border-radius: 12px;
    width: 250px;
    padding: 15px;
    background-color: hsl(243, 27%, 20%);
}

.dados-quantitativos {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.quantidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 90px;
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid hsl(240, 18%, 30%);
    background-color: hsl(243, 27%, 20%);
    padding: 10px;
}

.previsao-diaria {
    color: aliceblue;
}

.previsao-diaria .dias {
    display: flex;
    gap: 15px;
}

.dia {
    padding: 10px;
    background-color: hsl(243, 27%, 20%);
    border-radius: 10px;
    border: 1px solid hsl(240, 18%, 30%);
    color: aliceblue;
    width: 100px;
}

.percentual {
    display: flex;
    justify-content: space-between;
}
 
.page-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: aliceblue;
    margin-top: 40px;
    height: 100vh;
}

.page-error .titulo {
    font-size: 40px;
}

@media (max-width: 576px){
    .clima {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .locais-e-detalhes picture img {
        width: 343px;
        height: auto;
    }

    .dados-local {
        flex-direction: column;
        width: 343px;
        padding: 10px;
        margin-bottom: 120px;
    }

    .dados-local .info-regiao {
        text-align: center;
    }
    .dados-quantitativos {
        display: flex;
        width: 343px;
        gap: 10px;
        flex-wrap: wrap;
    }
}

