.clima {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
}

.locais-e-detalhes  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.locais-e-detalhes picture {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.locais-e-detalhes picture .dados-local {
    position: absolute;
    display: flex;
    width: 700px;
    height: 280px;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    padding: 50px;
}
.detalhes-do-local {
    width: 800px;
    height: 280px;
}



.dados-local .info-regiao .cidade {
    font-size: 30px;
    font-weight: 700;
}

.icon-e-temperadura p{
    font-size: 50px;
    font-weight: 800;
}

.icon-e-temperadura {
    display: flex;
    align-items: center;
}

.dados-local .emoji-clima {
    width: 100px;
}

.locais-e-detalhes img {
    width: 600px;
}

.horarios {
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    background-color: hsl(243, 27%, 20%);
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.horarios .hora {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    padding: 20px;
    border-radius: 6px;
    background-color: hsl(243, 23%, 24%);
    border: 1px solid hsl(240, 18%, 30%);
    font-weight: 600;
}

.horarios .hora .informacoes {
    display: flex;
    gap: 20px;
}

.dados-quantitativos {
    width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.quantidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 140px;
    height: 90px;
    color: aliceblue;
    border-radius: 10px;
    border: 1px solid hsl(240, 18%, 30%);
    background-color: hsl(243, 27%, 20%);
    padding: 10px;
    font-size: 23px;
}

.previsao-diaria {
    color: aliceblue;
}

.previsao-diaria .dias {
    display: flex;
    width: 600px;
    height: auto;
    gap: 15px;
}

.dia {
    padding: 10px;
    background-color: hsl(243, 27%, 20%);
    border-radius: 10px;
    border: 1px solid hsl(240, 18%, 30%);
    color: aliceblue;
    width: 100px;
}

.dia img {
    width: 45px;
}

.percentual {
    display: flex;
    justify-content: space-between;
}
 
.page-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: aliceblue;
    margin-top: 40px;
    height: 100vh;
}

.page-error .titulo {
    font-size: 40px;
}

@media (max-width: 576px){
    .clima {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
    }
    .locais-e-detalhes picture img {
        width: 343px;
        height: auto;
    }
    
    .previsao-diaria .dias {
        display: flex;
        width: 100%;
        max-width: 345px;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .dados-local {
        flex-direction: column;
        width: 100%;
        max-width: 343px;
        padding: 10px;
        /* margin-bottom: 380px; */
    }

    .dados-local .info-regiao {
        text-align: center;
    }
    .dados-quantitativos {
        display: flex;
        width: 100%;
        max-width: 343px;
        gap: 10px;
        flex-wrap: wrap;
    }
    .previsao-diaria {
        width: 100%;
        max-width: 343px;
    }
    .horarios {
        width: 100%;
        max-width: 343px;
        max-height: 400px;
        overflow-y: auto;
    }
    .page-error {
        text-align: center;
    }
}

