@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Science+Gothic:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inconsolata", monospace;
}

.container {
    background-color: hsl(243, 96%, 9%);
    padding: 40px 50px;
    overflow-x: hidden;
}

@media (max-width: 576px) {
    .container {
        padding: 10px 10px;
    }
}

